<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>h3-Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>h3.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>691633972109CE82004AB0ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691633AB210A0C18004AB0ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691633C8210ADD73004AB0ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691633D1210ADE53004AB0ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B30AD4D6949745DD919BB0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
